body{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 55%, rgba(229,241,34,1) 72%, rgba(14,0,249,1) 100%);
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1rem;
    background-color: black;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

h1, h2 {
    padding: 20px;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgb(184, 184, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
  }

  h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  div {
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    background-color: azure;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  .container {
    text-align: center;
  }
