* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10%;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #fced49;
    font-size: 1rem;
    background-color: #003566;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 5%;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgb(184, 184, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
  }

  h2 {
    margin: 10px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 4px 3px rgb(184, 184, 194);
    font-weight:bold;
    padding: 15px;
  }

  #msg {
    text-align: center;
  }

  footer {
    background-color:black;
    color: white;
  }

  .header-ul {
    display: flex;
    gap: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


 .footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    
  a {
    color: white;
    text-decoration: none;
  }
  nav {
    padding: 20px;
    background-color: black;
  }